In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import pyvinecopulib as pv
import scipy
import seaborn as sns
from scipy.stats import nct, laplace_asymmetric ,genhyperbolic, laplace , t
import pandas_ta as ta
import matplotlib.pyplot as plt

import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from utils.processing import HistoricalPrice, RandomVariable
# ['MSN', 'VNM', 'LIX', 'DBD', 'DHG','ABT', 'OPC', 'TRA']

In [36]:
hp = HistoricalPrice()
asset = 'VNM'

file = f"../data/{asset}_historical_price.csv"
order = f"../data/{asset}_historical_order.csv"
df = hp.read(file)
df = df.loc[:,[i for i in df.columns if 'order' not in i]]
order = hp.get_order_info(order)

# order = order.replace(0, np.nan).interpolate()
# order = order.replace(np.inf, np.nan).interpolate()
df = df.join(order).dropna()
df.index =  pd.to_datetime(df.index)
df['returns'] = df['close']/df['close'].shift(5)-1
df = df.dropna()
df.head()

,adj_close,close,open,high,low,volume,SoLenhMua,KLDatMua,KLTB1LenhMua,SoLenhDatBan,KLDatBan,KLTB1LenhBan,ChenhLechKL,returns
2023-07-10,72.10,72.1,71.4,72.7,71.2,6201102,3840.0,11730600.0,3054.84,7422.0,11345600.0,1529.0,385000.0,0.032951
2023-07-10,69.78,72.1,71.4,72.7,71.2,6201102,3840.0,11730600.0,3054.84,7422.0,11345600.0,1529.0,385000.0,0.022695
2023-07-11,72.80,72.8,72.1,73.4,71.7,6235300,4198.0,10214100.0,2433.09,6575.0,10735300.0,1633.0,-521200.0,0.032624
2023-07-11,70.46,72.8,72.1,73.4,71.7,6235300,4198.0,10214100.0,2433.09,6575.0,10735300.0,1633.0,-521200.0,0.026798
2023-07-12,73.50,73.5,72.9,73.5,72.6,4195800,3430.0,7251000.0,2113.99,4856.0,8377500.0,1725.0,-1126500.0,0.036671

In [37]:
# List of all indicators
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

In [38]:
help(ta.wma)

Help on function wma in module pandas_ta.overlap.wma:

wma(close, length=None, asc=None, talib=None, offset=None, **kwargs)
    Weighted Moving Average (WMA)

    The Weighted Moving Average where the weights are linearly increasing and
    the most recent data has the heaviest weight.

    Sources:
        https://en.wikipedia.org/wiki/Moving_average#Weighted_moving_average

    Calculation:
        Default Inputs:
            length=10, asc=True
        total_weight = 0.5 * length * (length + 1)
        weights_ = [1, 2, ..., length + 1]  # Ascending
        weights = weights if asc else weights[::-1]

        def linear_weights(w):
            def _compute(x):
                return (w * x).sum() / total_weight
            return _compute

        WMA = close.rolling(length)_.apply(linear_weights(weights), raw=True)

    Args:
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 10
        asc (bool): Recent values weigh more. Default: True
        talib (bool): If TA Lib is installed and talib is True, Returns the TA Lib
            version. Default: True
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.

In [39]:
ALPHA = [0,0.05,0.1,0.4,0.6,0.9,0.95,1]

var = RandomVariable(df['returns'],laplace_asymmetric)
simulated_data = var.simulate(100000)
quantiles = var.get_quantiles(simulated_data)
quantiles
# var.get_quantiles(simulated_data)

{0: -0.3063040771536015,
 0.05: -0.057321904624276825,
 0.1: -0.03919801801050943,
 0.4: -0.0038387390521298,
 0.6: 0.0066354902206502975,
 0.9: 0.035757142129837126,
 0.95: 0.050413377846587226,
 1: 0.24064290409057465}

In [40]:
import itertools

def quantile_ranges(ALPHA):
    ranges = []
    for i in range(len(ALPHA)-1):
        t = tuple([ALPHA[i],ALPHA[i+1]])
        ranges.append(t)
    return ranges
q_ranges = quantile_ranges(ALPHA)
q_ranges

[(0, 0.05),
 (0.05, 0.1),
 (0.1, 0.4),
 (0.4, 0.6),
 (0.6, 0.9),
 (0.9, 0.95),
 (0.95, 1)]

In [41]:
quantile_range_returns = {}
for lower,upper in q_ranges:
    subset = simulated_data[(simulated_data<=quantiles[upper])&(simulated_data>quantiles[lower])]
    quantile_range_returns[(lower,upper)] = subset.sum()/len(subset)
quantile_range_returns

{(0, 0.05): -0.08299401454011303,
 (0.05, 0.1): -0.04708557867078514,
 (0.1, 0.4): -0.017581102024645467,
 (0.4, 0.6): 0.0016703742615681453,
 (0.6, 0.9): 0.01799302959407292,
 (0.9, 0.95): 0.042200148798322526,
 (0.95, 1): 0.07134695596418311}

In [42]:
cols = ["("+ ",".join([str(x) for x in r]) + "]" for r in q_ranges]
tree_3_index = list(itertools.product(cols,cols))
index_3 = pd.MultiIndex.from_tuples(tree_3_index, names=["t-2", "t-1"])
index_3

MultiIndex([(  '(0,0.05]',   '(0,0.05]'),
            (  '(0,0.05]', '(0.05,0.1]'),
            (  '(0,0.05]',  '(0.1,0.4]'),
            (  '(0,0.05]',  '(0.4,0.6]'),
            (  '(0,0.05]',  '(0.6,0.9]'),
            (  '(0,0.05]', '(0.9,0.95]'),
            (  '(0,0.05]',   '(0.95,1]'),
            ('(0.05,0.1]',   '(0,0.05]'),
            ('(0.05,0.1]', '(0.05,0.1]'),
            ('(0.05,0.1]',  '(0.1,0.4]'),
            ('(0.05,0.1]',  '(0.4,0.6]'),
            ('(0.05,0.1]',  '(0.6,0.9]'),
            ('(0.05,0.1]', '(0.9,0.95]'),
            ('(0.05,0.1]',   '(0.95,1]'),
            ( '(0.1,0.4]',   '(0,0.05]'),
            ( '(0.1,0.4]', '(0.05,0.1]'),
            ( '(0.1,0.4]',  '(0.1,0.4]'),
            ( '(0.1,0.4]',  '(0.4,0.6]'),
            ( '(0.1,0.4]',  '(0.6,0.9]'),
            ( '(0.1,0.4]', '(0.9,0.95]'),
            ( '(0.1,0.4]',   '(0.95,1]'),
            ( '(0.4,0.6]',   '(0,0.05]'),
            ( '(0.4,0.6]', '(0.05,0.1]'),
            ( '(0.4,0.6]',  '(0.1,0.4]'),
            ( '(0.4,0.6]',  '(0.4,0.6]'),
            ( '(0.4,0.6]',  '(0.6,0.9]'),
            ( '(0.4,0.6]', '(0.9,0.95]'),
            ( '(0.4,0.6]',   '(0.95,1]'),
            ( '(0.6,0.9]',   '(0,0.05]'),
            ( '(0.6,0.9]', '(0.05,0.1]'),
            ( '(0.6,0.9]',  '(0.1,0.4]'),
            ( '(0.6,0.9]',  '(0.4,0.6]'),
            ( '(0.6,0.9]',  '(0.6,0.9]'),
            ( '(0.6,0.9]', '(0.9,0.95]'),
            ( '(0.6,0.9]',   '(0.95,1]'),
            ('(0.9,0.95]',   '(0,0.05]'),
            ('(0.9,0.95]', '(0.05,0.1]'),
            ('(0.9,0.95]',  '(0.1,0.4]'),
            ('(0.9,0.95]',  '(0.4,0.6]'),
            ('(0.9,0.95]',  '(0.6,0.9]'),
            ('(0.9,0.95]', '(0.9,0.95]'),
            ('(0.9,0.95]',   '(0.95,1]'),
            (  '(0.95,1]',   '(0,0.05]'),
            (  '(0.95,1]', '(0.05,0.1]'),
            (  '(0.95,1]',  '(0.1,0.4]'),
            (  '(0.95,1]',  '(0.4,0.6]'),
            (  '(0.95,1]',  '(0.6,0.9]'),
            (  '(0.95,1]', '(0.9,0.95]'),
            (  '(0.95,1]',   '(0.95,1]')],
           names=['t-2', 't-1'])

In [43]:
temp = pd.DataFrame(data = [[0],[0],[0],[1]])
temp[(temp.shift(1)==0)&(temp.shift(2)==0)]

     0
0  NaN
1  NaN
2  0.0
3  1.0

In [44]:

tree_depth_3 = pd.DataFrame(None,index=index_3,columns=index_3)
def get_transition_matrices(df: pd.DataFrame,quantiles: dict ,quantile_ranges: dict) -> None:
    for current_a_low,current_a_high in quantile_ranges:
        for l_a_low,l_a_high in quantile_ranges:
            for ll_a_low,ll_a_high in quantile_ranges:
                conds = df[(df.shift(1)>quantiles[l_a_low])&(df.shift(1)<=quantiles[l_a_high])&(df.shift(2)>quantiles[ll_a_low])&(df.shift(2)<=quantiles[ll_a_high])]
                events = conds[(conds<=quantiles[current_a_high])&(conds>quantiles[current_a_low])]
                if len(conds)>=4:
                    t2 = "("+ ",".join([str(ll_a_low),str(ll_a_high)]) + "]"
                    t1 = "("+ ",".join([str(l_a_low),str(l_a_high)]) + "]"
                    t = "("+ ",".join([str(current_a_low),str(current_a_high)]) + "]"
                    prob = len(events)/len(conds)
                    tree_depth_3.loc[(t2,t1),(t1,t)] = prob

    # #### NOT THE STANDARD TRANSITION MATRIX where each row adds to 1
# #### becauses the output state are quantile-ranges that overlap
get_transition_matrices(df['returns'],quantiles,q_ranges)
tree_depth_3 = tree_depth_3.dropna(how='all',axis=1).dropna(how='all',axis=0)
tree_depth_3

t-2                   (0,0.05]                                           \
t-1                   (0,0.05] (0.05,0.1] (0.1,0.4] (0.4,0.6] (0.6,0.9]
t-2        t-1
(0,0.05]   (0,0.05]       0.75        0.0      0.25       0.0       0.0
(0.1,0.4]  (0.1,0.4]       NaN        NaN       NaN       NaN       NaN
           (0.4,0.6]       NaN        NaN       NaN       NaN       NaN
(0.4,0.6]  (0.1,0.4]       NaN        NaN       NaN       NaN       NaN
           (0.4,0.6]       NaN        NaN       NaN       NaN       NaN
(0.6,0.9]  (0.4,0.6]       NaN        NaN       NaN       NaN       NaN
           (0.6,0.9]       NaN        NaN       NaN       NaN       NaN
           (0.9,0.95]      NaN        NaN       NaN       NaN       NaN
(0.9,0.95] (0.6,0.9]       NaN        NaN       NaN       NaN       NaN

t-2                                       (0.1,0.4]                       ...  \
t-1                   (0.9,0.95] (0.95,1]  (0,0.05] (0.05,0.1] (0.1,0.4]  ...
t-2        t-1                                                            ...
(0,0.05]   (0,0.05]          0.0      0.0       NaN        NaN       NaN  ...
(0.1,0.4]  (0.1,0.4]         NaN      NaN      0.04       0.08      0.68  ...
           (0.4,0.6]         NaN      NaN       NaN        NaN       NaN  ...
(0.4,0.6]  (0.1,0.4]         NaN      NaN       0.0      0.125       0.5  ...
           (0.4,0.6]         NaN      NaN       NaN        NaN       NaN  ...
(0.6,0.9]  (0.4,0.6]         NaN      NaN       NaN        NaN       NaN  ...
           (0.6,0.9]         NaN      NaN       NaN        NaN       NaN  ...
           (0.9,0.95]        NaN      NaN       NaN        NaN       NaN  ...
(0.9,0.95] (0.6,0.9]         NaN      NaN       NaN        NaN       NaN  ...

t-2                   (0.6,0.9]                      (0.9,0.95]             \
t-1                   (0.6,0.9] (0.9,0.95]  (0.95,1]   (0,0.05] (0.05,0.1]
t-2        t-1
(0,0.05]   (0,0.05]         NaN        NaN       NaN        NaN        NaN
(0.1,0.4]  (0.1,0.4]        NaN        NaN       NaN        NaN        NaN
           (0.4,0.6]        NaN        NaN       NaN        NaN        NaN
(0.4,0.6]  (0.1,0.4]        NaN        NaN       NaN        NaN        NaN
           (0.4,0.6]        NaN        NaN       NaN        NaN        NaN
(0.6,0.9]  (0.4,0.6]        NaN        NaN       NaN        NaN        NaN
           (0.6,0.9]   0.619048   0.095238  0.047619        NaN        NaN
           (0.9,0.95]       NaN        NaN       NaN        0.0        0.0
(0.9,0.95] (0.6,0.9]        0.5       0.25       0.0        NaN        NaN

t-2
t-1                   (0.1,0.4] (0.4,0.6] (0.6,0.9] (0.9,0.95] (0.95,1]
t-2        t-1
(0,0.05]   (0,0.05]         NaN       NaN       NaN        NaN      NaN
(0.1,0.4]  (0.1,0.4]        NaN       NaN       NaN        NaN      NaN
           (0.4,0.6]        NaN       NaN       NaN        NaN      NaN
(0.4,0.6]  (0.1,0.4]        NaN       NaN       NaN        NaN      NaN
           (0.4,0.6]        NaN       NaN       NaN        NaN      NaN
(0.6,0.9]  (0.4,0.6]        NaN       NaN       NaN        NaN      NaN
           (0.6,0.9]        NaN       NaN       NaN        NaN      NaN
           (0.9,0.95]       0.0       0.0      0.75       0.25      0.0
(0.9,0.95] (0.6,0.9]        NaN       NaN       NaN        NaN      NaN

[9 rows x 35 columns]

In [25]:
#### Need to determine what state (quantile range) the returns belong to 
states = list(set( [i[0] for i in tree_depth_3.index] + [i[1] for i in tree_depth_3.index]))
states

['(0.1,0.4]', '(0.6,0.9]', '(0.4,0.6]', '(0.95,1]']

In [41]:
def get_state(row):
    all_states = []
    r = row['returns']
    for s in states:
        lq,uq = s[1:-1].split(",")
        if r > quantiles[float(lq)] and r <= quantiles[float(uq)]:
            all_states.append(s)
    return all_states

df['state'] = df.apply(lambda x: get_state(x),axis=1)
df.head()

,adj_close,close,open,high,low,volume,SoLenhMua,KLDatMua,KLTB1LenhMua,SoLenhDatBan,KLDatBan,KLTB1LenhBan,ChenhLechKL,returns,state
2023-07-06,130.9,130.9,130.2,132.5,129.0,50300,186.0,92500.0,497.31,113.0,81500.0,721.0,11000.0,-0.012821,"[(0.1,0.4]]"
2023-07-07,134.9,134.9,130.8,135.6,130.5,48700,170.0,139100.0,818.24,241.0,94800.0,393.0,44300.0,0.030558,[]
2023-07-10,135.0,135.0,136.3,137.0,132.1,38000,270.0,113600.0,420.74,287.0,123400.0,430.0,-9800.0,0.000741,"[(0.6,0.9]]"
2023-07-11,134.0,134.0,135.2,135.4,133.7,25200,114.0,42400.0,371.93,128.0,68400.0,534.0,-26000.0,-0.007407,"[(0.1,0.4]]"
2023-07-12,132.5,132.5,134.0,134.8,132.0,15400,140.0,43300.0,309.29,98.0,100800.0,1029.0,-57500.0,-0.011194,"[(0.1,0.4]]"

In [42]:
def get_action(current_state: tuple, next_state: tuple):
    s_2 = current_state[0][1:-1].split(",")
    s_1 = current_state[1][1:-1].split(",")
    s = next_state[1][1:-1].split(",")
    if float(s_2[1]) <= 0.4 and float(s_1[1]) <= 0.4 and float(s[1]) <= 0.4:
        ### 3 days of negtive returns
        return "buy"
    elif float(s_2[1]) >= 0.6 and float(s_1[1]) >= 0.6 and float(s[1]) >= 0.6:
        ## 3 days of positive returns
        return "sell"
    elif float(s_2[1]) <= 0.1 and float(s_1[0]) >= 0.6 and float(s[1]) <= 0.4:
        ## large negative return, small positive return, small negative return
        return "buy"
    elif float(s_2[1]) >= 0.9 and float(s_1[1]) <= 0.05 and float(s[1]) <= 0.4:
        ## large positive return, large negative return, small negative return 
        return "buy"
    elif float(s_2[1]) <= 0.6 and float(s_1[1]) <= 0.4 and float(s[1]) <= 0.4:
        ## median return, small negative return, small negative return 
        return "buy"
    elif float(s_2[1]) >= 0.6 and float(s_1[1]) <= 0.1 and float(s[1]) <= 0.4:
        # small positive return, large negative return, small negative return 
        return "buy"

In [43]:
for i in range(0,len(df)-2):
    t_2 = df.iloc[i]['state']
    t_1 = df.iloc[i+1]['state'] 
    state = list(itertools.product(t_2,t_1))
    
    NEXT_STATE = None
    PROB = 0 
    CURRENT_STATE = None
    for s in state:
        if s in tree_depth_3.index:
            next_t = tree_depth_3.loc[s].dropna()
            max_prob = next_t.max()
            most_likely_next_t = next_t[next_t==max_prob]
            # print(s)
            next_state  = most_likely_next_t.index[0]
            if max_prob >= PROB:
                PROB = max_prob
                NEXT_STATE = next_state
                CURRENT_STATE = s
    if NEXT_STATE != None:
        ns = NEXT_STATE[1][1:-1].split(",")
        ns = tuple(float(i) for i in ns)
        # df.loc[df.index[i+2],'pred_close'] = (1+quantile_range_returns[ns])*df.loc[df.index[i+1],'close']
        # df.loc[df.index[i+2],'pred_returns'] = quantile_range_returns[ns]
        
        ### THE CLOSE IS KNOWN at i+1
        ### BUY AT OPEN ###
        ### 
        df.loc[df.index[i+2],'action'] = get_action(CURRENT_STATE,NEXT_STATE)

# df['action'] = df['action'].fillna('hold')
df.head(50)

,adj_close,close,open,high,low,volume,SoLenhMua,KLDatMua,KLTB1LenhMua,SoLenhDatBan,KLDatBan,KLTB1LenhBan,ChenhLechKL,returns,state,action
2023-07-06,130.9,130.9,130.2,132.5,129.0,50300,186.0,92500.0,497.31,113.0,81500.0,721.0,11000.0,-0.012821,"[(0.1,0.4]]",NaN
2023-07-07,134.9,134.9,130.8,135.6,130.5,48700,170.0,139100.0,818.24,241.0,94800.0,393.0,44300.0,0.030558,[],NaN
2023-07-10,135.0,135.0,136.3,137.0,132.1,38000,270.0,113600.0,420.74,287.0,123400.0,430.0,-9800.0,0.000741,"[(0.6,0.9]]",NaN
2023-07-11,134.0,134.0,135.2,135.4,133.7,25200,114.0,42400.0,371.93,128.0,68400.0,534.0,-26000.0,-0.007407,"[(0.1,0.4]]",NaN
2023-07-12,132.5,132.5,134.0,134.8,132.0,15400,140.0,43300.0,309.29,98.0,100800.0,1029.0,-57500.0,-0.011194,"[(0.1,0.4]]",NaN
2023-07-13,132.1,132.1,133.9,134.9,132.0,29900,138.0,54800.0,397.10,113.0,150700.0,1334.0,-95900.0,-0.003019,"[(0.4,0.6]]",NaN
2023-07-14,130.0,130.0,132.0,132.0,129.1,69600,282.0,106500.0,377.66,128.0,187000.0,1461.0,-80500.0,-0.015897,"[(0.1,0.4]]",NaN
2023-07-17,127.0,127.0,129.9,129.9,127.0,70800,295.0,129000.0,437.29,132.0,204700.0,1551.0,-75700.0,-0.023077,"[(0.1,0.4]]",NaN
2023-07-18,129.8,129.8,127.0,130.0,127.0,92900,294.0,181700.0,618.03,120.0,141500.0,1179.0,40200.0,0.022047,[],NaN
2023-07-19,138.8,138.8,129.8,138.8,129.8,219200,436.0,400800.0,919.27,367.0,287200.0,783.0,113600.0,0.069337,[],NaN
2023-07-20,139.6,139.6,138.0,140.0,137.0,56900,164.0,110000.0,670.73,148.0,185200.0,1251.0,-75200.0,0.005764,"[(0.6,0.9]]",NaN
2023-07-21,129.9,129.9,130.0,132.0,129.9,242900,536.0,269900.0,503.54,475.0,649200.0,1367.0,-379300.0,-0.069484,[],NaN
2023-07-24,124.7,124.7,124.1,128.0,122.5,272400,900.0,468500.0,520.56,463.0,507800.0,1097.0,-39300.0,-0.040031,[],NaN
2023-07-25,124.1,124.1,125.0,126.8,124.0,100800,416.0,199100.0,478.61,213.0,225200.0,1057.0,-26100.0,-0.004812,"[(0.4,0.6]]",NaN
2023-07-26,125.0,125.0,124.4,125.1,124.0,52600,254.0,118100.0,464.96,197.0,131400.0,667.0,-13300.0,0.007252,"[(0.6,0.9]]",NaN
2023-07-27,119.1,119.1,124.5,124.8,118.2,203100,636.0,303600.0,477.36,387.0,298200.0,771.0,5400.0,-0.047200,[],sell
2023-07-28,117.0,117.0,119.9,119.9,115.5,131800,612.0,279000.0,455.88,308.0,310900.0,1009.0,-31900.0,-0.017632,"[(0.1,0.4]]",NaN
2023-07-31,123.0,123.0,117.1,123.0,117.0,42500,307.0,154000.0,501.63,210.0,102000.0,486.0,52000.0,0.051282,[],NaN
2023-08-01,119.0,119.0,121.1,123.4,119.0,90200,290.0,141800.0,488.97,366.0,235700.0,644.0,-93900.0,-0.032520,[],NaN
2023-08-02,119.7,119.7,121.4,121.4,118.9,20700,173.0,79100.0,457.23,171.0,81700.0,478.0,-2600.0,0.005882,"[(0.6,0.9]]",NaN
2023-08-03,120.3,120.3,119.7,121.5,119.7,42400,182.0,108800.0,597.80,194.0,95500.0,492.0,13300.0,0.005013,"[(0.6,0.9]]",NaN
2023-08-04,119.7,119.7,121.0,121.0,119.4,19300,186.0,63000.0,338.71,160.0,81600.0,510.0,-18600.0,-0.004988,"[(0.4,0.6]]",sell
2023-08-07,118.9,118.9,119.8,119.8,118.0,35300,265.0,123400.0,465.66,194.0,222900.0,1149.0,-99500.0,-0.006683,"[(0.1,0.4]]",None
2023-08-08,117.9,117.9,118.9,118.9,116.8,72000,424.0,130100.0,306.84,286.0,211300.0,739.0,-81200.0,-0.008410,"[(0.1,0.4]]",None
2023-08-09,117.1,117.1,117.9,119.9,117.1,28500,137.0,50100.0,365.69,177.0,102800.0,581.0,-52700.0,-0.006785,"[(0.1,0.4]]",None
2023-08-10,116.0,116.0,117.1,118.0,116.0,40100,197.0,67800.0,344.16,142.0,101800.0,717.0,-34000.0,-0.009394,"[(0.1,0.4]]",None
2023-08-11,116.0,116.0,116.0,116.5,115.0,24700,213.0,69700.0,327.23,151.0,70900.0,470.0,-1200.0,0.000000,"[(0.4,0.6]]",None
2023-08-14,116.0,116.0,117.0,117.0,115.2,23300,178.0,56500.0,317.42,135.0,58300.0,432.0,-1800.0,0.000000,"[(0.4,0.6]]",None
2023-08-15,119.9,119.9,116.0,119.9,116.0,54000,195.0,129100.0,662.05,280.0,123400.0,441.0,5700.0,0.033621,[],NaN
2023-08-16,117.2,117.2,119.5,119.5,117.2,6800,143.0,62100.0,434.27,208.0,97200.0,467.0,-35100.0,-0.022519,"[(0.1,0.4]]",NaN
2023-08-16,117.3,117.3,119.5,119.5,117.2,16200,143.0,62100.0,434.27,208.0,97200.0,467.0,-35100.0,0.000853,"[(0.6,0.9]]",NaN
2023-08-17,115.0,115.0,117.3,117.3,115.0,102100,302.0,120000.0,397.35,171.0,164500.0,962.0,-44500.0,-0.019608,"[(0.1,0.4]]",None
2023-08-18,115.0,115.0,115.1,118.0,114.0,80600,305.0,173800.0,569.84,347.0,184500.0,532.0,-10700.0,0.000000,"[(0.4,0.6]]",None
2023-08-21,115.0,115.0,115.0,115.8,114.2,16800,117.0,81600.0,697.44,118.0,47900.0,406.0,33700.0,0.000000,"[(0.4,0.6]]",None
2023-08-22,114.0,114.0,115.0,115.0,113.0,55300,175.0,117900.0,673.71,143.0,107100.0,749.0,10800.0,-0.008696,"[(0.1,0.4]]",NaN
2023-08-23,113.8,113.8,113.5,114.0,113.4,21000,141.0,46000.0,326.24,101.0,45700.0,452.0,300.0,-0.001754,"[(0.4,0.6]]",None
2023-08-24,113.9,113.9,113.8,114.0,113.1,30800,113.0,65800.0,582.30,97.0,56300.0,580.0,9500.0,0.000879,"[(0.6,0.9]]",None
2023-08-25,115.7,115.7,114.0,116.0,113.7,26900,140.0,71600.0,511.43,130.0,109300.0,841.0,-37700.0,0.015803,"[(0.6,0.9]]",sell
2023-08-28,116.3,116.3,115.8,116.5,115.7,25100,142.0,47900.0,337.32,126.0,53500.0,425.0,-5600.0,0.005186,"[(0.6,0.9]]",sell
2023-08-29,115.2,115.2,116.3,117.0,115.2,27200,184.0,64900.0,352.72,152.0,81300.0,535.0,-16400.0,-0.009458,"[(0.1,0.4]]",sell
2023-08-30,116.4,116.4,115.2,116.4,115.0,27500,138.0,86400.0,626.09,122.0,77100.0,632.0,9300.0,0.010417,"[(0.6,0.9]]",None
2023-08-31,118.0,118.0,116.5,118.4,116.5,30900,178.0,105000.0,589.89,210.0,91900.0,438.0,13100.0,0.013746,"[(0.6,0.9]]",None
2023-09-05,117.9,117.9,117.0,118.5,117.0,18000,158.0,60700.0,384.18,142.0,71900.0,506.0,-11200.0,-0.000847,"[(0.4,0.6]]",sell
2023-09-06,122.0,122.0,118.2,123.0,117.3,74600,264.0,199000.0,753.79,409.0,213400.0,522.0,-14400.0,0.034775,[],None
2023-09-07,123.5,123.5,121.6,124.8,121.6,123900,232.0,219400.0,945.69,391.0,239900.0,614.0,-20500.0,0.012295,"[(0.6,0.9]]",NaN
2023-09-08,121.8,121.8,123.5,123.5,120.3,62400,226.0,168900.0,747.35,306.0,160400.0,524.0,8500.0,-0.013765,"[(0.1,0.4]]",NaN
2023-09-11,119.7,119.7,122.8,122.9,115.0,22600,237.0,137400.0,579.75,175.0,122700.0,701.0,14700.0,-0.017241,"[(0.1,0.4]]",None
2023-09-12,123.3,123.3,119.9,123.3,119.8,68000,201.0,182600.0,908.46,221.0,118400.0,536.0,64200.0,0.030075,[],None
2023-09-13,120.5,120.5,123.3,123.3,120.3,19900,136.0,54800.0,402.94,193.0,150800.0,781.0,-96000.0,-0.022709,"[(0.1,0.4]]",NaN
2023-09-14,118.5,118.5,121.8,121.8,118.0,18300,162.0,92900.0,573.46,127.0,61500.0,484.0,31400.0,-0.016598,"[(0.1,0.4]]",NaN

In [44]:
# class Backtest:
#     def __init__(self,backtest_df: pd.DataFrame,risk_free_pa: float,initial_cash: float):
#         self.risk_free_pd = (1+risk_free_pa)**(1/365)-1
#         self.cash = initial_cash
#         self.backtest_df = backtest_df
#         self.trade_size = 0.02
#         self.shares = 0
#         self.purchase_history = {}
    
#     def test(self):
#         shares = 0
#         day = 0
#         for i in range(0,len(self.backtest_df)):
#             open_ = df.iloc[i]['open']
#             close_  = df.iloc[i]['close']
#             action_ = df.iloc[i]['action'] 
#             trade_size = self.trade_size*total_capital 
            
#             if shares>0:

                
#             else:
                
#                 if action_ == 'buy':
#                     shares += trade_size/open_
#                     cash -= trade_size
#                     price_bought = open_ 

#             total_capital = cash + shares*close_
#             # print(i, "CAPITAL:",total_capital,"CASH:",cash,"SHARES:",shares,"action:",action_)
#     def buy(self):
        
#     def sell(self):
        
#     def condition_1(self):
#         if open_/price_bought - 1 >= self.risk_free_pd*1.5:
#         cash+=shares*open_
#         shares = 0
    
#     def condition_2(self):
#             ##### DOESNT EXCEED RISK FREE RATE, but price is expected to go down today, so sell open 
#         elif action_=='sell':
#             ### STOP LOSS HERE
#             cash+=shares*open_
#             shares = 0

In [45]:
### EACH TRADE USES 2% of total capital 
cash = 30000 ###( 30 million)
shares = 0
price_bought = 0
risk_free_return = (1+0.065)**(1/365)-1
risk_premium = 0.0005
print(risk_free_return)
total_capital = cash
import random

##### BUY OPEN, SELL 
for i in range(0,len(df)):
    open_ = df.iloc[i]['open']
    close_  = df.iloc[i]['close']
    action_ = df.iloc[i]['action'] 
    trade_size = 0.02*total_capital 

    # action_ = random.choice(['buy', 'hold','sell'])
    if shares>0:
        if open_/price_bought - 1 >= risk_free_return + risk_premium:
            # print("SELL HERE")
            cash+=shares*open_
            shares = 0
            # print(open_)
            # print(close_)
            action_ = 'sell'
        ##### DOESNT EXCEED RISK FREE RATE, but price is expected to go down today, so sell open 
        elif action_=='sell':
            ### STOP LOSS HERE
            cash+=shares*open_
            shares = 0
    else:
        if action_ == 'buy':
            shares += trade_size/open_
            cash -= trade_size
            price_bought = open_ 
            
    total_capital = cash + shares*close_
    # print(i, "CAPITAL:",total_capital,"CASH:",cash,"SHARES:",shares,"action:",action_)
    # print("\n")
    # if i ==5:
        # break
        
print(total_capital)
print(len(df))

0.00017254858112680793
30000.0
100

In [46]:
(total_capital/30000 - 1)**(365/len(df)) - 1

-1.0

In [ ]:
### MARKOV PROCESSS LEADS TO NEGATIVE RETURNS (WORSE THAN RANDOM BUY SELL HOLD). Cannot use MArkov strategy alone.